@charset "ISO-8859-1";
body{
	background-color:gray;
}
#ah2{
	margin-top:48px;
}
button{
	height:30px;
}
#blank{
	height:50px;
}
#stud{
	height:400px;
	width:800px;
	
}
#blank1{
	height:100px;
}